
IaC_Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.0.0/windows_amd64/terraform-provider-aws_v4.0.0_x5.exe
IaC_Terraform/.terraform/terraform.tfstate
IaC_Terraform/.terraform.lock.hcl
